
@import './style.css';
@import './jsvectormap.min.css';
@import './swiper-bundle.min.css';
@import './icons.min.css';

table.dataTable{
    margin-bottom: 8px !important;
}
.dt-paging nav{
    float: right !important;
}

:root{
--bs-body-bg: #fff
}